<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>pickup-calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="hold" UpdatedAt="19/07/2022 10:30 pm" 
  createdAt="18/07/2022" notes="Note that we have two bags are full test first"
  ></app-pickup-call-card>

  <app-pickup-call-card status="processing" UpdatedAt="20/07/2022 9:30 pm" 
  createdAt="19/07/2022" notes="Note that we have two bags are full test processing"
  ></app-pickup-call-card>
  <app-pickup-call-card status="Finished" UpdatedAt="21/07/2022 8:30 pm" 
  createdAt="20/07/2022" notes="Note that we have two bags are full test Finished"
  value="15O MR"></app-pickup-call-card>
 


</ion-content>
