<ion-header>
  <ion-toolbar color="success">
   
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title>Home page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list color="success">
    <ion-item color="light">
      <ion-avatar slot="start">
        <img src="https://dzone.com/storage/temp/9333712-testing-icon.png" width="40" alt=""/>
      </ion-avatar>
      <ion-label>
        <h1>Aysha Time</h1>
      <p>Gathered :<span class="money">15 OMR</span> </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-pickup-call-card
   
  status="hold" UpdatedAt="19/07/2022 10:30 pm" 
  createdAt="18/07/2022" notes="Note that we have two bags are full test first">
  <ion-card-header header>
    <ion-card-subtitle>Last pickup call
</ion-card-subtitle>

  </ion-card-header>

  <ion-button color="success" (click)="showcall()" fill="clear" size="full" footer > See all...</ion-button>
</app-pickup-call-card>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="addnew()">
      <ion-icon  name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
