<ion-header>
  <ion-toolbar color="success">
   
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title>Home page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list color="success">
    <ion-item color="light">
      <ion-vatar slot="start">
        <img src="https://dzone.com/storage/temp/9333712-testing-icon.png" width="40" alt=""/>
      </ion-vatar>
      <ion-label>
        <h1>Aysha Time</h1>
      <p>Gathered :<span class="money">15 OMR</span> </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Last pickup call</ion-card-subtitle>

    </ion-card-header>
  
    <ion-card-content>
   <ion-items lines="none">
   <ion-icon name="hourglass-outline" slot="start" color="warning"></ion-icon>
   <ion-label>
   On Hold
   <p>16/07/2022 9:30 pm</p>
  </ion-label>
</ion-items>

<ion-items lines="none">
<ion-label>
  <p> created at 15/07/2022 9:30 pm</p>
  <p> Note that we have two bags are full</p>
 </ion-label>
</ion-items>
<ion-button color="success" fill="clear" size="full"> See all...</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon  name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
