<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://th.bing.com/th/id/R.d3dd8f3373c02909b9b091579d3aade0?rik=%2bjDmdU7Qb1ppbw&riu=http%3a%2f%2fwww.worldmap1.com%2fmap%2foman%2fmap_oman.jpg&ehk=J5VQW7JlJXQociG863mVrQ6N%2b0yW0oyyzSFMnasS3e8%3d&risl=&pid=ImgRaw&r=0" alt=""/>
  <ion-card>
    <ion-card-content>
      <p>Address:oman</p>
      <p>Complements:not checked</p>
      <p>Neighborhood:neighborhood</p>
      <p>Zip code:311</p>
      <p>City name-State</p>
 

    </ion-card-content>
  </ion-card>
  <ion-list>
  <ion-item lines="inset">
     <ion-label position="floating">Notes</ion-label>
    <ion-textarea> </ion-textarea> 
 </ion-item>
</ion-list>
<ion-button color="success" size="full" (click)="addnewpickup()"> Create pickup call</ion-button>

</ion-content>
